@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes flicker {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes moveleft {
  0% {
    transform: translatex(700px);
  }

  100% {
    transform: translatex(0);
  }
}

@keyframes moveright {
  0% {
    transform: translatex(0);
  }

  100% {
    transform: translatex(700px);
  }
}
