@media (max-width: 990px) {
  /* navigation */
  .nav .nav-list {
    width: 50%;
  }

  /* project */
  .project .project-list div video {
    width: 280px;
  }
}

@media (max-width: 576px) {
  body::-webkit-scrollbar {
    display: none;
  }

  /* navigation */
  .nav {
    justify-content: space-between;
  }

  .nav-list {
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100% !important;
    left: -10px;
    z-index: -9999;
    transform: translateY(-100%);
    background-color: rgba(70, 129, 137, 1);
    transition: all 0.8s;
  }

  .nav-list ul {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .nav-list.slide {
    transform: translateY(0) !important;
  }

  .nav-list ul li a {
    font-size: 50px;
  }

  .nav div {
    margin: 0 10px;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
  }

  .menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    right: 1px;
    top: 6px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }

  .menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #f4e9cd;
    border-radius: 3px;
    transition: all 0.9s;
  }

  .menu-toggle span:nth-child(2) {
    transform-origin: 0 100%;
  }

  .menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg);
  }

  .menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
  }

  .menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(2px, -7px);
  }

  /* hero */
  .hero {
    flex-direction: column-reverse;
    width: 300px;
    height: 500px;
  }
  .hero h1 {
    font-size: 30px;
  }

  .hero-nama {
    font-size: 40px;
  }

  .photo-profile img {
    margin-top: -40px;
    width: 220px;
  }

  .circle {
    width: 270px;
    height: 270px;
    margin: -250px 0 0 -30px;
  }

  /* about */
  .photo-about img {
    display: none;
  }

  .ket-sosmed {
    width: 300px;
  }

  /* skill */
  .skill-list {
    flex-direction: column;
  }

  .bahasa {
    margin: 50px 0;
  }

  .skill .bahasa svg {
    width: 60px;
  }

  .skill .camera img {
    width: 60px;
  }

  /* project */
  .project .project-list {
    flex-direction: column;
    align-items: center;
  }

  .project .project-list div {
    margin: 10px;
    max-width: 280px;
  }
}

/* contact */
.contact form {
  max-width: 320px;
}

/* footer */
.footer {
  padding-bottom: 25px;
}
