@media (max-width: 990px) {
  .project .project-list div video {
    width: 280px;
  }
}

@media (max-width: 576px) {
  body::-webkit-scrollbar {
    display: none;
  }

  /* navigation */
  .nav {
    justify-content: space-between;
  }

  .nav-list {
    background-color: rgba(70, 129, 137, 0.7);
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100%;
    left: -10px;
    transform: translateX(700px);
    z-index: 9999;
    padding-top: 50px;
  }

  .nav-list ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-list ul li {
    margin: 50px;
  }

  .nav-list ul li a {
    font-size: 50px;
  }

  .nav div {
    margin: 0 10px;
  }

  .nav-list-icon {
    position: relative;
  }

  .nav-list-icon2 {
    position: absolute;
    right: 0;
    top: 10px;
  }

  .nav-list-icon a img,
  .nav-list-icon2 a img {
    display: block;
  }

  .nav-list:target {
    animation: moveleft 700ms forwards;
  }

  .nav-list2:target {
    animation: moveright 700ms forwards;
  }

  /* hero */
  .hero {
    flex-direction: column-reverse;
    width: 450px;
  }
  .hero h1 {
    font-size: 30px;
  }

  .hero-nama {
    font-size: 40px;
  }

  .photo-profile img {
    width: 320px;
  }

  .circle {
    width: 470px;
    height: 470px;
    margin: -400px 0 0 -72px;
  }

  /* skill */
  .skill-list {
    flex-direction: column;
  }

  .bahasa {
    margin: 50px 0;
  }

  /* project */
  .project .project-list {
    flex-direction: column;
    align-items: center;
  }

  .project .project-list div {
    margin: 10px;
  }
}
