html {
  scroll-behavior: smooth;
}

body {
  background-color: #031926;
  color: #77aca2;
}

/* navigasi */
.nav {
  position: fixed;
  width: 100%;
  background-color: rgba(70, 129, 137, 0.7);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  font-size: 20px;
  color: #f4e9cd;
  text-shadow: 0 0 1px #031926;
  z-index: 9999;
}

.nav h3 {
  font-weight: bold;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.nav ul li a {
  text-decoration: none;
  color: #77aca2;
  text-shadow: 0 0 10px #031926;
}

.nav ul li a:hover {
  color: #f4e9cd;
}

/* hero */
.hero {
  position: relative;
  padding-top: 100px;
  margin: auto;
  width: 560px;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero h1 {
  font-size: 20px;
}

.photo-profile img {
  width: 400px;
  border-radius: 30%;
}

.photo-profile svg {
  position: absolute;
  width: 600px;
  margin-top: -67px;
  margin-left: -490px;
  z-index: -99;
}

.circle {
  position: absolute;
  width: 640px;
  height: 640px;
  box-shadow: 0 0 10px 12px #468189, 0 0 5px 5px #468189 inset;
  border-radius: 50%;
  margin: -530px 0 0 -190px;
  z-index: -99;
  animation: fade 8s infinite;
}

/* about */
.about {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 100px;
}

.about h2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
}

.sosmed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 140px;
}

.sosmed-list {
  width: 200px;
}

.sosmed-list a svg {
  max-width: 40px;
  fill: rgba(244, 233, 205, 0.5);
  margin: 0 10px;
}

/* Skill */
.skill {
  text-align: center;
  background-color: #77aca2;
  padding: 100px;
}

.skill h2 {
  color: #031926;
  font-size: 30px;
  font-weight: bold;
}

.skill div {
  display: inline;
  width: 100px;
  border: 10px solid #f4e9cd;
  border-radius: 50%;
}

.skill svg {
  margin-top: 20px;
  width: 100px;
}
